openapi: 3.2.0
info:
  title: Portfolio Manager Payment History V1 API
  description: 'Welcome to the Portfolio Manager API Reference.


    The Reporting API allows asset holders to query current and historical reports as needed.


    The API is organized around the REST methodology, and it uses resource-oriented URLs and common HTTP response codes to indicate API errors.


    All requests are authenticated using an `apikey` header.

    '
  version: latest
servers:
- url: https://figure.com
tags:
- name: Payment History V1
paths:
  /external/secure/api/v1/portfolio/download/owned/payment-history:
    get:
      tags:
      - Payment History V1
      summary: Download the latest record of payments for owned loans
      parameters:
      - name: ownsPayments
        in: query
        description: Only show payments received during ownership of loan
        required: false
        schema:
          type: boolean
      - name: apikey
        in: header
        description: Provided key used to access the application's api
        schema:
          type: string
      responses:
        '200':
          description: CSV of payments for owned loans
          headers: {}
          content:
            text/plain:
              schema:
                type: string
                xml:
                  name: String
      deprecated: false
  /external/secure/api/v1/portfolio/download/owned/payment-history/{assetType}/{reportDate}:
    get:
      tags:
      - Payment History V1
      summary: Download the record of payments for owned loans by asset type and report date
      parameters:
      - name: assetType
        in: path
        schema:
          type: string
      - name: reportDate
        in: path
        description: Cutoff date of requested payment history
        schema:
          type: string
          format: date
      - name: ownsPayments
        in: query
        description: Only show payments received during ownership of loan
        required: false
        schema:
          type: boolean
      - name: apikey
        in: header
        description: Provided key used to access the application's api
        schema:
          type: string
      responses:
        '200':
          description: CSV of payments for owned loans by asset type and report date
          headers: {}
          content:
            text/plain:
              schema:
                type: string
                xml:
                  name: String
      deprecated: false
  /external/secure/api/v1/portfolio/download/owned/payment-history/{assetType}/{reportStartDate}/{reportEndDate}:
    get:
      tags:
      - Payment History V1
      summary: Download the record of payments for owned loans by asset type between report start date and end date
      parameters:
      - name: assetType
        in: path
        schema:
          type: string
      - name: reportStartDate
        in: path
        description: Start cutoff date of requested payment history
        schema:
          type: string
          format: date
      - name: reportEndDate
        in: path
        description: End cutoff date of requested payment history
        schema:
          type: string
          format: date
      - name: ownsPayments
        in: query
        description: Only show payments received during ownership of loan
        required: false
        schema:
          type: boolean
      - name: apikey
        in: header
        description: Provided key used to access the application's api
        schema:
          type: string
      responses:
        '200':
          description: CSV of payments for owned loans by asset type between report start date and end date
          headers: {}
          content:
            text/plain:
              schema:
                type: string
                xml:
                  name: String
      deprecated: false
